*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.App main {
    padding: 1rem;
}

.App nav {
    padding: 0;
    background-color: #ffe3fb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
}

.App nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
}

.App nav ul li {
    display: block;
}

.App nav ul li a {
    display: block;
    padding: 1rem;
    color: #da3c78;
    text-decoration: none;
}

.App nav ul li a:hover {
    background-color: #ffbcd8;
}

.App nav ul li a.active {
    background-color: #ff6ca8;
    color: #fff;
}